<%= image_tag('logo.png', width:"200", alt:"Logo") %>
<br>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, style: 'font-size: 14px;' %>
    <%= f.email_field :email, autofocus: true, style: 'font-size: 14px;' %>
  </div>
  <div class="field hide">
    <label style="font-size: 14px;" for="student_password">Student ID</label>
    <%= f.text_field :password, autocomplete: "off", style: 'font-size: 14px; text-transform: uppercase;' %>
  </div>
  <div class="actions">
    <%= f.submit "Log in", class: 'ui massive button' %>
  </div>
<% end %>


<script>
$(function() {
  $("#new_student").submit(function(event) {
    $("#student_password").val($('#student_email').val());
  });});
</script>

