<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field-wrap">
    <label>Email<span class="req">*</span></label>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field-wrap">
    <% if @minimum_password_length %>
    <em style="color: white; font-size: 16px;">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <label>Password<span class="req">*</span></label>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field-wrap">
    <label>Password confirmation<span class="req">*</span></label>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

