<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field-wrap">
    <label>Email<span class="req">*</span></label>
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field-wrap">
    <label>Password<span class="req">*</span></label>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<a href="<%= new_teacher_password_path %>" style="color: #a0b3b0;">Forgot your password?</a>

