// Place all the styles related to the form_editor controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editable-container.editable-inline
{
  width: 100% !important;
  .form-inline.editableform
  {
    margin-right: 80px;

    .control-group.form-group
    {
      width: 100% !important;

      .editable-input
      {
        width: 100% !important;
      }
    }
  }
}

