// Place all the styles related to the StudentPortal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.students
{
  #logo
  {
    max-height: 200px;
    padding-bottom: 25px;
    max-width: 100%;
  }

  .form-choice.button
  {
    width: 100%;
    background-color: #FF5353 !important;
    margin-bottom: 10px;
  }

  .ui.button
  {
    background: #3093c7;
    color: #efefef;
  }
  .ui.button:hover
  {
    background: #26759e;
    color: white;
  }
  .ui.button.previous
  {
    background: #95a5a6 !important;
  }

  .ui.progress.attached {
    height: 0.4rem;
  }

  .ui.big.button
  {
    margin-bottom: 10px;
  }

  .ui.selection.dropdown, .ui.form input, .ui.form textarea
  {
    border: 1px solid rgba(34,36,38,0.3) !important;
  }

  .score.button
  {
    width: 56px;
    height: 56px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-top: 10px;
    display: inline;
  }

  .button
  {
    width: 120px;
  }

  .nps-score .column
  {
    padding: 0 !important;
    height: 70px;
  }

  .nps-score .column-left .score-buttons
  {
    float: right;
  }
  .nps-score .column-right .score-buttons
  {
    float: left;
  }

  input[type="checkbox"]
  {
    margin-right: 5px;
  }

  .page
  {
    text-align: center;
  }


  .ui.segment { margin-top: 20px; text-align: center; }



  #categories { text-align: left; }



  .ui.header:first-child {
    margin-top: calc(2rem - 0.14285em) !important;
  }

  .ui.container
  {
    position: absolute !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
  }


  @media only screen and (max-width: 991px)
  {
    .page
    {
      padding: 10px;
    }
    .ui.container
    {
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 10px !important;
      margin-left: 15px !important;
      margin-right: 15px !important;
    }
  }

  @media screen and (max-width: 767px)
  {
    .score.button
    {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    h1
    {
      font-size: 22px !important;
    }
    h2
    {
      font-size: 18px !important;
    }

    .ui.center.aligned.segment h2.ui.header:first-child
    {
      margin: 0 !important;
      margin-top: 5px !important;
    }
  }


  @media (min-width: 768px) and (max-width: 992px)
  {
    #single-row-score
    {
      display: none;
    }
    #double-row-score
    {
      display: block;
    }
  }

  @media (min-width: 970px) and (max-width: 1200px)
  {
      #single-row-score
      {
        display: none;
      }
      #double-row-score
      {
        display: block;
      }
  }

  @media (min-width: 1200px)
  {
      #single-row-score
      {
        display: block;
      }
      #double-row-score
      {
        display: none;
      }
  }


  .column.desktop { display: none; }
  .column.mobile { display:block; }
  @media (min-width: 768px)
  {
    .column.desktop { display: block; }
    .column.mobile { display:none; }
  }




  textarea
  {
    border: 0 !important;
    padding: 0 !important;
    font-size: 1.5rem !important;
  }

  span
  {
    font-size: 13px;
  }

  #helper-text
  {
    margin-top: 5px;
    font-size: 13px;
  }
  .ui.massive.button.score
  {
    font-size: 2rem;
  }










}




