<!DOCTYPE html>
<html>
  <head>
    <title>EduPulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <div class="ui form students" id="app" style="min-height: 500px;">
        <div class="ui container">
          <div class="ui center aligned segment">
            <% unless alert.nil? %>
              <p class="alert"><%= alert %></p>
            <% end %>

            <%= yield %>
        </div>
      </div>
    </div>

<style>
  body{ background: linear-gradient(45deg, #ff5c5c 0%, rgba(152, 44, 129, 0.86) 100%); }
</style>

  </body>
</html>

